/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9WiHGA.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.main-img {
  max-width: 100%;
}
.main-img img {
  width: 100%;
}
header {
  display: flex;
  max-width: 100%;
  height: 14%;
  margin: 2% 0 0 0;
  justify-content: space-evenly;
}
header nav {
  display: flex;
  width: 60%;
  font-size: 2rem;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
}
section {
  display: flex;
  max-width: 100%;
}
@media (max-width: 500px) {
  section div {
    height: 100%;
  }
}
section div {
  display: flex;
  max-width: 100%;
  height: 15%;
  justify-content: center;
  align-items: center;
}
section .work-history {
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 40%;
  margin: 2% 2%;
  border: 1px solid black;
  background: lightgrey;
}
section .work-history .lists {
  margin: 2%;
}
section .work-history p {
  width: 80%;
}
@-webkit-keyframes rotating {
  /* Safari and Chrome */
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
#work {
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  #work .work-history {
    width: 400px;
    height: 300px;
  }
}
#skills {
  margin: 3% 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#skills div {
  display: flex;
}
#skills div i {
  margin: 0 1%;
}
.intro {
  height: 20%;
  margin-top: 2%;
}
.intro div p {
  font-family: 'Righteous', cursive;
  width: 50%;
  font-size: 1.5rem;
}
footer {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}
footer div {
  justify-content: space-evenly;
}
